<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- please apply by yourself -->
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <provider
            android:name=".MediaerFileProvider"
            android:authorities="${applicationId}.MediaerFileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mediaer_file_provider"/>
        </provider>

    </application>

</manifest>
