<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ApplocationInstance"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:label="Example"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".banner.BannerActivity"
            android:label="Banner" />

        <activity
            android:name=".abstracts.activity.AbstractsActivity"
            android:label="Base" />

        <activity
            android:name=".abstracts.activity.TransparentTitleBarActivity"
            android:label="TransparentTitleBar" />
        <activity
            android:name=".abstracts.activity.DefaultTitleBarActivity"
            android:label="DefaultTitleBar" />
        <activity
            android:name=".abstracts.activity.WhiteTitleBarActivity"
            android:label="WhiteTitleBar" />
        <activity
            android:name=".abstracts.activity.NoTitleBarActivity"
            android:label="NoTitleBar" />
        <activity
            android:name=".abstracts.activity.FragmentActivity"
            android:label="Fragment" />
        <activity
            android:name=".abstracts.activity.NestingFragmentActivity"
            android:label="Fragment" />

        <activity
            android:name=".downloader.DownloaderActivity"
            android:label="Downloader" />

        <activity
            android:name=".http.HTTPActivity"
            android:label="HTTP" />

        <activity
            android:name=".list.ListActivity"
            android:label="List" />

        <activity
            android:name=".picturer.MediaerActivity"
            android:label="Mediaer" />

        <activity
            android:name=".pay.PayActivity"
            android:label="Pay" />

        <activity
            android:name=".permission.PermissionActivity"
            android:label="Permission" />

        <activity
            android:name=".qrcode.QRCodeActivity"
            android:label="QRCode" />
        <activity
            android:name=".qrcode.QRCodeCustomizeScanningActivity"
            android:label="QRCodeCustomizeScanning" />
        <activity
            android:name=".qrcode.QRCodeGenerateActivity"
            android:label="QRCodeGenerate" />

        <activity
            android:name=".io.IOActivity"
            android:label="IO" />
        <activity
            android:name=".io.SerialPortActivity"
            android:label="SerialPort"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".io.GpioActivity"
            android:label="Gpio" />

        <activity
            android:name=".other.ToolActivity"
            android:label="Other" />

        <activity
            android:name=".service.ServiceActivity"
            android:label="Service" />
        <service
            android:name=".service.BusinessService"
            android:exported="false"
            android:process=":business">
            <intent-filter>
                <action android:name="com.liux.android.service.action.SERVICE_MANAGER_MODULE" />
                <action android:name="com.liux.android.example.action.SERVICE_BUSINESS" />
            </intent-filter>
        </service>

        <activity
            android:name=".util.UtilActivity"
            android:label="Util" />

        <activity
            android:name=".view.ViewActivity"
            android:label="View" />

    </application>

</manifest>